.Calculadora {
  height: 92vh;
  width: 543px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/******************************************************************************************************************/
.container-input {
  align-self: end;
  margin-right: 30px;
}
input[type="radio"] {
  display: none;
}
.radio_container {
  border-radius: 16px;
  padding: 6px;
  

}
.radio_container label {
  font-size: 20px;
  padding: 3px 6px 3px 6px;
  border-radius: 14px;
  user-select: none;
  cursor: pointer;

}
.numberinput{
    display: flex;
    justify-content: space-around;
}

/******************************************************************************************************************/

.disposicionbtn {
  display: flex;
}
.toggle {
  display: flex;
  align-items: center;
}

.displayinput {
  font-size: 40px;
  text-align: right;
  display: flex;
  justify-content: center;
  height: 118px;
}
.botonContenedor {
  display: flex;
  flex: 1 1;
  margin: 10px;
  height: 60px;
  width: 100px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  font-size: 32px;
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  top: 1px;
}
/**************************Theme1*********************************************************************/
.numberinputtheme1 span{
    color: #F6F9F4;
}
.radio_containertheme1 {
  background-color: #252d44;
}
.radio_containertheme1 label {
  color: #252d44;
}
.radio_containertheme1 input[type="radio"]:checked + label {
  background-color: #e96960;
  color: #e96960;
}

.theme1btn {
  background-color: #f2f2f2;
  border: 1px solid #c0c0c0;
  color: #444;
}
.theme1btn:hover {
  box-shadow: 0 3px hsl(28, 16%, 65%);
  top: 2px;
}
.theme1btn:active {
  box-shadow: 0 0 hsl(28, 16%, 65%);
  top: 5px;
}
.theme1btnigual {
  background-color: hsl(6, 63%, 50%);
  color: #fff;
}
.theme1btnigual:hover {
  box-shadow: 0 3px hsl(6, 70%, 34%);
  top: 2px;
}

.theme1btnigual:active {
  box-shadow: 0 0 hsl(6, 70%, 34%);
  top: 5px;
}
.theme1btnredel {
  background-color: hsl(225, 21%, 49%);
  color: #fff;
}
.theme1btnredell:active {
  background-color: hsl(224, 28%, 35%);
}
.theme1btnredel:hover {
  box-shadow: 0 3px hsl(224, 28%, 35%);
  top: 2px;
}

.contenedorbtn {
  border-radius: 14px;
  padding: 7px;
}
.contenedorbtntheme1 {
  background-color: hsl(224, 36%, 15%);
}
.inputbox {
  border-radius: 14px;
  padding: 0px 12px 6px 12px;
}
.inputboxtheme1 input {
  background-color: hsl(224, 36%, 15%);
  color: #fff;
  border: none;
  outline: none;
}
.inputboxtheme1 {
  background-color: hsl(224, 36%, 15%);
}
/****************************Theme 2 *******************************************************************/
.numberinputtheme2 span{
    color: #36362D;
}
.radio_containertheme2 {
  background-color: #c9c3c4;
}
.radio_containertheme2 label {
  color: #c9c3c4;
}
.radio_containertheme2 input[type="radio"]:checked + label {
  background-color: #ff8835;
  color: #ff8835;
}

.theme2btn {
  background-color: #f2f2f2;
  border: 1px solid #c0c0c0;
  color: #444;
}
.theme2btn:hover {
  box-shadow: 0 3px hsl(28, 16%, 65%);
  top: 2px;
}
.theme2btn:active {
  box-shadow: 0 0 hsl(28, 16%, 65%);
  top: 5px;
}
.theme2btnigual {
  background-color: hsl(25, 98%, 40%);
  color: #fff;
}
.theme2btnigual:hover {
  box-shadow: 0 3px #8c3604;
  top: 2px;
}
.theme2btnigual:active {
  box-shadow: 0 0#8C3604;
  top: 5px;
}
.theme2btnredel {
  background-color: hsl(185, 42%, 37%);
  color: #fff;
}
.theme2btnredel:hover {
  box-shadow: 0 3px hsl(185, 58%, 25%);
  top: 2px;
}
.theme2btnredel:active {
  background-color: hsl(185, 58%, 25%);
}

.contenedorbtntheme2 {
  background-color: #d3cdcd;
  border-radius: 14px;
  padding: 7px;
}

.inputboxtheme2 input {
  background-color: #eeefef;
  color: #000;
  border: none;
  outline: none;
  border-radius: 14px;
  padding: 2px 12px 12px 12px;
}
/********************Theme 3****************************************/

.numberinputtheme3 span{
    color: #F9DE48;
}
.radio_containertheme3 {
    background-color: #230735;
  }
  .radio_containertheme3 label {
    color: #230735;
  }
  .radio_containertheme3 input[type="radio"]:checked + label {
    background-color: #9AFFFF;
    color: #9AFFFF;
  }
  
.theme3btn {
  background-color: #331a4c;
  border: 1px solid #331a4c;
  color: #feed4a;
}
.theme3btn:hover {
  box-shadow: 0 3px hsl(285, 91%, 52%);
  top: 2px;
}
.theme3btn:active {
  box-shadow: 0 0 hsl(285, 91%, 52%);
  top: 5px;
}
.theme3btnigual {
  background-color: hsl(176, 100%, 44%);
  color: #fff;
}
.theme3btnigual:hover {
  box-shadow: 0 3px hsl(177, 92%, 70%);
  top: 2px;
}
.theme3btnigual:active {
  box-shadow: 0 0 hsl(177, 92%, 70%);
  top: 5px;
}
.theme3btnredel {
  background-color: hsl(281, 89%, 26%);
  color: #fff;
}
.theme3btnredel:hover {
  box-shadow: 0 3px hsl(290, 70%, 36%);
  top: 2px;
}
.theme3btnredel:active {
  background-color: hsl(290, 70%, 36%);
}

.contenedorbtntheme3 {
  background-color: hsl(268, 71%, 12%);
  border-radius: 14px;
  padding: 7px;
}

.inputboxtheme3 input {
  background-color: #1e0836;
  color: #feed4a;
  border: none;
  outline: none;
}
.inputboxtheme3 {
  background-color: #1e0836;
}
